@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin-top: 0;
}

/* 
.slick-arrow{
  width: 25px !important;
  height: 25px !important;
  z-index: 1321;
  background-color: black !important;
  box-shadow: 10px 10px 10px rgba(0,0,0,.1);
  color: white !important;
  border-radius: 100%;
  padding-top: 2px  !important;
 
} */

/* Default styles for the .slick-arrow component */
.slick-arrow {
  width: 25px !important;
  height: 25px !important;
  z-index: 1321;
  background-color: black !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  color: white !important;
  border-radius: 100%;
  padding-top: 2px !important;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .slick-arrow {
    display: none !important;
  }
}

/* @media screen and (min-width:340px) {
  .slick-arrow{
  display: none !important
   
  }
} */

/* 
.slick-prev{

}
.slick-next{
  margin-left: 50px !important;
} */

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 10px; /* Adjust the padding to make room for the arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px; /* Adjust the size of the arrow */
}
