@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin-top: 0;
}

.slick-arrow {
  width: 25px !important;
  height: 25px !important;
  z-index: 1321;
  background-color: black !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  color: white !important;
  border-radius: 100%;
  padding-top: 2px !important;
}


 @media (min-width: 1100px) {
  .cards {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
  } 
}


::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}


/* styles/globals.css or any other CSS file */

/* Show the popup when hovering the trigger */
.hover-trigger:hover + .popup {
  display: flex;
}

/* Additional styles for the popup container */
.popup {
  top: 80px; /* Adjust this value as per your requirement */
  z-index: 1;
}

/* Additional styles for the box */
.box {
  transition: transform 0.3s ease-in-out;
}


.body{
  background-color: cornsilk
}

.topbox {
  transition: height 0.3s ease;
}

.bgdiv{

background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(255, 255, 255, 0.24);

}



.rotate{
  animation-name: rotateAnimation;
  animation-duration: 26s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(160deg);

  }

  to {
  }
}

.border-dashed {
  border-style: dashed;
}


.expand-card{
  width: 400px;
}

.card{
  width: 200px;
}
.go-btn::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: #feba88;
bottom: -90px;
transition: all .2s ease-in-out;
}
.go-btn:hover.go-btn::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: #feba88;
bottom: 0px;
}



