
.questionContainer {
  margin-bottom: 20px;
}

.option {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.option:hover{
    
    border: 1px solid rgb(74, 170, 249)
}
.highlighted {
background-color: rgb(66, 137, 250);
 color: white;
}
